<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CoreLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CoreLib.Properties.Settings>
            <setting name="CoreLib_WebReference_NiksmsWebservice" serializeAs="String">
                <value>http://94.182.154.28:1370/NiksmsWebservice.svc</value>
            </setting>
            <setting name="CoreLib_PanelSMS_smsserver" serializeAs="String">
                <value>http://188.0.240.110/class/sms/csharpservice_new/server.php</value>
            </setting>
        </CoreLib.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings><basicHttpBinding>
				<binding name="BasicHttpBinding_INiksmsWebservice" />
			</basicHttpBinding></bindings>
        <client><endpoint address="http://94.182.154.28:1370/NiksmsWebservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INiksmsWebservice" contract="WebServiceV1.INiksmsWebservice" name="BasicHttpBinding_INiksmsWebservice" /></client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
